footer {
  display: grid;
  max-width: 1200px;
  max-height: 512px;
  padding: 140px 20px;
  justify-items: center;
  align-items: center;
  background: #000000;
  position: relative;
  margin: auto;
  padding-bottom: 50px;
  grid-template-columns: 4fr 4fr;
}
footer::before {
  content: "";
  background-image: url("/img/deco.png");
  position: absolute;
  width: 140px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  top: -45px;
  left: 100px;
}

.disponivel .disponivel-titulo {
  font-size: 30px;
  color: #cccccc;
  padding: 0px 70px;
}

footer p {
  color: #8f8f8f;
  font-size: 24px;
  margin-top: 140px;
  display: flex;
  padding: 0px 70px;
  grid-column: 1/-1;
  justify-self: flex-start;
}

.contatos {
  grid-row: 1;
  justify-self: center;
  grid-column: 2;
}
.contatos li {
  padding: 10px 0px;
}

.contatos a {
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
}

@media (max-width: 1000px) {
  footer {
    gap: 50px;
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
  footer p {
    margin-top: 50px;
    padding: 0px 20px;
    justify-self: flex-start;
  }

  .disponivel .disponivel-titulo {
    font-size: 30px;
    max-width: 500px;
    color: #cccccc;
    padding: 0px 20px;
    justify-items: flex-start;
  }
  .contatos {
    grid-row: 2;
    justify-self: flex-start;
    grid-column: 1;
    padding: 0px 20px;
  }

  footer::before {
    width: 140px;
    height: 50px;
    top: -27px;
  }
}

@media (max-width: 600px) {
  footer {
    gap: 40px;
  }
  .disponivel .disponivel-titulo {
    font-size: 25px;
    color: #cccccc;
    justify-content: center;
  }
  footer p {
    color: #8f8f8f;
    font-size: 30px;
  }
  .contatos a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
  }
}

@media (max-width: 400px) {
  footer {
    gap: 20px;
  }
  footer::before {
    width: 140px;
    height: 50px;
    top: -27px;
    left: 30px;
  }
  .disponivel .disponivel-titulo {
    font-size: 20px;

    color: #cccccc;
    justify-content: center;
  }
  footer p {
    color: #8f8f8f;
    font-size: 22px;
    margin-top: 30px;
  }
  .contatos a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
  }
}

@media (max-width: 400px) {
  footer {
    gap: 30px;
  }
  footer::before {
    width: 140px;
    height: 50px;
    top: -27px;
    left: 30px;
  }
  .disponivel .disponivel-titulo {
    font-size: 18px;

    color: #cccccc;
    justify-content: center;
  }
  footer p {
    color: #8f8f8f;
    font-size: 20px;
    margin-top: 20px;
    justify-self: center;
  }
  .contatos a {
    padding: 0px 0px;

    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
  }
}

@media (max-width: 300px) {
  .disponivel .disponivel-titulo {
    font-size: 15px;

    color: #cccccc;
    justify-content: center;
  }
  footer p {
    font-size: 15px;
  }
  .contatos a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
  }
}
